@media (max-width:480px){
    .activity {
        display: none;
    }
}

@media (max-width:768px) {
    .activity {
        display: none;
    }
}
@media (max-width:1199px) {
    .activity {
        display: none;
    }
}

@media (min-width:1200px) {
    .activity {
        &__items {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__figura {}

        &__image {
            display: block;
            width: 370px;
            height: 294px;
        }

        &__box {}

        &__text {}
    }
}
