.button {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: var(--white-color);
    background-color: var(--btn-color);
    box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.14);

    -webkit-box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.14);

    &:hover,
    &:focus {
        background-color: var(--btn-hover-color);
    }
    &__text {
        text-align: center;
    }
    &__figure {
        fill: var(--white-color);
        position: relative;
        top: 7px;
        left: 10px;
    }
    &__icon {}
}

.button--position {
    @media (min-width:1200px) {
        position: relative;
        top: 36px;
    }
}

