.customers {
    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
        @media (max-width:480px) {
            justify-content: center;
        }
    
        @media (min-width:481px) and (max-width:768px) {
            
        }
    
        @media (min-width:769px) {
            
        }
    }
    &__item {
        
       
        @media (max-width:480px) {
    
        }
        
        @media (min-width:481px) and (max-width:768px) {
            
        }
        
        @media (min-width:769px) {
            
        }
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        fill: var(--fon-section-color);
        height: 92px;
        border: 1px solid var(--fon-section-color);
        border-radius: 4px;
        cursor: pointer;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        @media (max-width:480px) {
            width: 190px;
        }
        @media (min-width:481px) and (max-width:768px) {
            width: 225px;
        }
        @media (min-width:769px) {
            width: 170px;
        }
    }
        &__link:focus,
        &__link:hover {
        fill: var(--btn-color);
        border: 1px solid var(--btn-color);
    }
    &__icon {

    }
}
