.footer {
    &__social {
            @media (min-width:481px) and (max-width:768px) {
                padding-top: 100px;
            }
        }
    &__social--circle {
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__title {
        color: var(--white-color);
    }
    &__title--left {
        @media (min-width:768px) {
            margin-left: 30px;
        }
    }
    &__soc {
        
    }
    &__soc:not(:last-child) {
        margin-right: 10px;
    }
    &__link {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        fill: var(--white-color);
    }
    &__link:hover,
    &__link:focus {
        background-color: var(--btn-color);
    }
    &__icon {

    }
}


