@media (max-width:480px) {
    .nav-modal {
        
        &__close {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            padding: 32px;
            background-color: var(--white-color);
            z-index: 999;
        
            transform: translateX(100%);
            transition: transform 250ms ease-in-out;
        }

        &__close.is-open {
            transform: translateX(0);
        }

        &__items {
            font-family: 'Roboto';
            font-size: 35px;
            font-weight: 500;
            line-height: 40px;
        }
        &__item:not(:last-child) {
            padding-bottom: 25px;
        }
        &__link {
            color: var(--black-grey-color);
            &:focus,
            &:hover {
                color: var(--btn-color);
            }
        }
    }
    .menu-modal {
        &__close {
            position: absolute;
            top: 21px;
            right: 25px;
            fill: var(--black-grey-color);
            &:hover,
            &:focus {
                fill: var(--btn-color);
            }
        }
        &__close-icon {
        }
    
        &__icon {

        }
    }
    .address-modal {
        padding-top: 260px;
        &__mailo-phon {
            font-size: 24px;
            font-weight: 500;
            line-height: 28px;
            
            &:focus,
            &:hover {
                font-size: 34px;
                font-weight: 500;
                line-height: 40px;
                color: var(--btn-color);
            }
            &:not(:last-child) {
                padding-bottom: 30px;
            }
        }
        &__link {
            color: var(--grey-color);
            &:hover,
            &:focus {
                color: var(--btn-color);
            }
        }
    }
    
    .socials-modal {
        display: flex;
        justify-content: space-around;
        align-items: center;

        &__container {
            padding: 164px 84px 48px 0;
            
        }
        
    }
    .social-modal {

        &__container {

        }

        &__link {
            font-size: 18px;
            font-weight: 500;
            line-height: 22px;
            color: var(--btn-color);
        }
        
        &__separate {
            font-size: 22px;
           color: rgba(33, 33, 33, 0.2);
        }
    }
}



@media (min-width:481px) {
    .nav-modal {
        display: none;
        &__item {
            display: none;
        }
        &__close {
            display: none;
        }
    }   
    .menu-modal {
        display: none;
    }
    .address-modal {
        display: none;
    }
    .socials-modal {
        display: none;
    }
}