.portfolio {
    &__title {
        font-family: 'Roboto';
        font-size: 18px;
        font-weight: 700;
        font-style: normal;
        line-height: 36px;
        color: var(--black-grey-color);
        padding-top: 20px;
        padding-left: 24px;
        padding-bottom: 4px;

    }
    &__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        padding: 0;
        list-style: none;
    }
    &__card {
        
        box-shadow: 1 4px 6px rgb(0, 0, 0, 16%), 
                    0 4px 4px rgb(0, 0, 0, 06%), 
                    0 1px 1px rgb(0, 0, 0, 12%);
    }

    &__link {
        border: 1px solid var(--border-portfolio-color);
    }

    &__img {
        display: block;
    }

    &__item {

    }

    &__text {
        color: var(--grey-color);
        padding-left: 24px;
        padding-bottom: 20px;
    }
}

.box {

}

.overlay {
    display: none;
}

@media (max-width:480px) {
    .portfolio {
        &__title {

        }
        &__card {
            width: 450px;
            flex-basis: calc((100% - 30px) / 1);
        }
        &__link {

        }
        &__img {

        }
        &__item {

        }
        &__text {

        }
    }
    .box {

    }

    .overlay {

    }
}

@media (min-width:481px) and (max-width:768px) {
    .portfolio {
        &__title {

        }

        &__card {
            width: 354px;
            flex-basis: calc((100% - 90px) / 2);
        }

        &__link {

        }

        &__img {

        }

        &__item {

        }

        &__text {

        }
    }

    .box {

    }

    .overlay {

    }
}

@media (min-width:769px) {
    .portfolio {
        &__title {

        }

        &__card {
            width: 370px;
            flex-basis: calc((100% - 120px) / 3);
        }

        &__link {

        }

        &__img {

        }

        &__item {

        }

        &__text {

        }
    }

    .box {}

    .overlay {}
}